.container {
  width: 80%;
  margin: 0 auto;
  background-color: beige;
  padding: 35px 25px;
}

.movie-container {
  text-align: center;
  border: 1px gray solid;
  width: 250px;
  margin: 10px auto;
  padding: 5px;
}
